.text-large {
  font-size: larger;
  font-weight: 900;
  margin-bottom: 0;
}

.counting-text {
  font-size: larger;
  font-weight: 900;
  margin-bottom: 0;
  color: #ffa900;
}

.primary-color {
  color: #ffa900;
}

.loadingbutton {
  position: relative;
  align-self: center;
  left: calc(50% - 108px / 2 + 40.5px);
  --sk-color: #fff;
  --sk-size: 23px;
}
