.fixed {
  position: fixed;
  width: 10vw;
}

.width-43 {
  width: 43vw !important;
}

.loadingbutton {
  position: relative;
  align-self: center;
  left: calc(50% - 108px / 2 + 40.5px);
  --sk-color: #fff;
  --sk-size: 23px;
}
